.centered {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 250%;
    align-items: center;
    margin-top: 5rem;
}

.mainStyle {
    font-family: 'Poppins', sans-serif;
}

.incorrectAnswer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in {
    opacity: 1;
}